/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
html{
    overflow-y: hidden;
    scroll-behavior: smooth;
}
body{
    font-family:'Rubik Mono One', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: xx-large;
    font-weight: 800;
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    translate: -50% -50%;
}

/*utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.full-page{
    height: 100vh;
    background-size: 50%;
    background-position:50% 40%;
    background-repeat: no-repeat;
    position: relative;
}
.title{
    width: 50%;
}
/*diversi tipi di scarpe*/
#sportif{
    background-image: url(../img/01.png);
}
#tommy{
    background-image: url(../img/02.png);
}
#converse{
    background-image: url(../img/03.png);
}
.red{
    color: #ff0;
    background-color: red;
}
.green{
    color: #ff0;
    background-color: #008000;
}
.yellow{
    color: #008000;
    background-color: #ff0;
}
/*side menu*/
.menu{
    position: fixed;
    right: 10px;
    top: 10px;
}
.menu a{
    color:purple;
    background-color: white;
    font-size: 18px;

    display: inline-block;
    margin-bottom: 15px;

    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    line-height: 40px;
    text-align: center;
}
.menu a:hover {
    scale: 1.1;
}
.menu a:active {
    scale: 1;
}