/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Generics*/
body{
    font-family:'Rubik Mono One', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    color: black;
}
h1{
    font-size: xx-large;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    translate: -50% -50%;
}

/*utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.full-page{
    height: calc(100vh - 50px);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}
/*diversi tipi di scarpe*/
#sportif{
    background-image: url(../img/01.png);
}
#tommy{
    background-image: url(../img/02.png);
}
#converse{
    background-image: url(../img/03.png);
}
.red{
    color: #ff0;
    background-color: red;
}
.green{
    color: #ff0;
    background-color: #008000;
}
.yellow{
    color: #008000;
    background-color: #ff0;
}
/*side menu*/
.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    right: 10px;
    top: 50%;
}
.menu li{
    color:purple;
    background-color: white;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}